[Desktop Entry]
Charset=
Hidden=false
Keys=ht,tricks
Name=HackTricks
Query=https://book.hacktricks.xyz/generic-methodologies-and-resources/pentesting-methodology?q=\\{@}
Type=Service
